<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Fortnite_Music_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Fortnite_Music_WPF.Properties.Settings>
            <setting name="TitleMenu" serializeAs="String">
                <value />
            </setting>
            <setting name="MainMenu" serializeAs="String">
                <value />
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="VictoryMusic" serializeAs="String">
                <value />
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFileFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PlayInBackground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InGameMusic" serializeAs="String">
                <value />
            </setting>
        </Fortnite_Music_WPF.Properties.Settings>
    </userSettings>
</configuration>
