<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fortnite_Music.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Fortnite_Music.Properties.Settings>
            <setting name="TitleMenu" serializeAs="String">
                <value />
            </setting>
            <setting name="MainMenu" serializeAs="String">
                <value />
            </setting>
            <setting name="Obscure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="stretched" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Victory" serializeAs="String">
                <value />
            </setting>
            <setting name="ResX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ResY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="title1" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="title2" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="menu2" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="menu3" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="menu4" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="menu5" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="menu6" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="optimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayInParty" serializeAs="String">
                <value>False</value>
            </setting>
        </Fortnite_Music.Properties.Settings>
    </userSettings>
</configuration>